// BEGIN GENERAL //

label {
  margin-bottom: 0;
}

// END GENERAL //




// BEGIN PANEL //

.panel-heading {
  padding: 1.2rem 2rem;

  .panel-title {
      font-size: 1.6rem;
      line-height: 24px;
  }
}

.panel-body {
  padding: 2rem;
}

.panel-default {
  .panel-heading {
      background-color: $gray-lightest;
  }
}

// END PANEL //



// BEGIN SIDEBAR //

.sidebar {
  height: 100%;
}

@media (min-width: 768px) {
  .sidebar {
    transition: all .3s;

    .toggled {
      overflow: visible;
      width: 6.5rem !important;
      transition: all .3s;
    }
  }
}

// END SIDEBAR //



// BEGIN LOGIN //

.bg-login-image {
  background: url("https://images.unsplash.com/photo-1504532724559-22878efd533a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
  background-position: center;
  background-size: cover;
}

// END LOGIN //



// BEGIN TOPBAR //


// END TOPBAR //
