// BEGIN TEXTBOX //

.form-group {
  position: relative;

  margin-bottom: 0;
  margin-top: 1rem;
}

.form-control {
  height: 5rem;
  padding: 1.2rem;

  font-size: 1.4rem;
  line-height: 24px;
  color: @color-gray-dark;

  border: 1px solid @color-gray;
  box-shadow: none;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

  &:focus {
    border-color: @color-blue-light;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);

    outline: 0;
  }

  :placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: @color-white;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: @color-white;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: @color-white;
  }

  &:not(:placeholder-shown) {
    padding-top: 2rem;
    padding-bottom: .4rem;

    ~ .control-label {
      top: .6rem;

      font-size: 1.2rem;
      line-height: 18px;
      color: @gray-light;

      background-color: transparent;
    }
  }
}

// END TEXTBOX //



// BEGIN LABEL //

.control-label {
  position: absolute;
  top: 1.2rem;
  left: 1.2rem;

  width: calc(100% - 2.4rem);

  font-size: 1.6rem;
  line-height: 24px;
  font-weight: 400;
  text-transform: capitalize;

  transition: all 0.1s ease-in-out;
  background-color: @color-white;

  pointer-events: none;
}

// END LABEL //